@font-face {
    font-family: RetroGaming;
    src: url('Retro-Gaming.ttf'), url('Retro-Gaming.ttf') format('ttf');
  }

body {
    background-color: black;
    font-family: RetroGaming;
}

.button {
    color: white;
    background-color: black;
    margin: 10px;
    font-size: 25px;
    border: none;
    font-family: RetroGaming;
}

button[class=button]:hover{
    text-decoration:underline;
}


#game-board{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#score {
    color: white;
    margin: 10px;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

.speed-toggle {
    color: white;
}

.game-over{
    height: 200px;
    position: relative;
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;

}

#splash-screen{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-over{
    display: flex;
}

input{
    display: none;
}
label {
    cursor: pointer; 

}
input:checked + label{
    text-decoration: underline;
}
label {
    margin: 10px;
}