body {
    background-color: black;
}

#play {
    color: white;
    background-color: black;
    margin: 10px;
    font-size: 15px;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#score {
    color: white;
}